@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
html{
	scroll-behavior: smooth;
}
.gallery{
    color: #fff;
	background: #111;
}
.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
.header {
  text-align: center;
  padding: 32px;
  /* background: mediumspringgreen; */
}

/*gallery from team  section styling*/
  /* Create two equal columns that floats next to each other */
  .column {
	float: left;
	width: 50%;
	padding: 10px;
  }
  .column img {
	margin-top: 12px;
  }
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  .textWithBlurredBg{
    /* width:600px; */
    height:auto;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
  }
  .textWithBlurredBg img{
    width: calc(33% - 20px);
    height:100%;
    transition:.3s;
    border-radius:4px;
  }
  .textWithBlurredBg:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px mediumspringgreen;
  }
   
  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
  }
  
  .textWithBlurredBg h3{
    top:50%
  }
  
  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }

/*navbar styling*/
.navbar{
	position: fixed;
	z-index: 999;
	width: 100%;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3s ease;
}
.navbar.sticky{
	padding: 15px 0;
	background: MediumSpringGreen;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}
.navbar .logo a span{
	color: MediumSpringGreen;
	transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
	color: #fff;
}
.navbar .menu li{
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover{
	color: MediumSpringGreen;
}
.navbar.sticky .menu li a:hover{
	color: #fff;
}
/*Menu btn styling*/
.menu-btn{
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}
.scroll-up-btn{
	position: fixed;
	height: 45px;
	width: 42px;
	background: MediumSpringGreen;
	right: 30px;
	bottom: 30px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	z-index: 9999;
	font-size: 30px;
	border-radius: 6px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease
}
.scroll-up-btn.show{
	bottom: 30px;
	opacity: 1;
	pointer-events: auto;
}

/* .scroll-up-btn:hover{
	background: #fff;
} */

/*Home section styling*/

/*all similar content styling code*/
section{
	padding: 100px 0;
}
.about, .services, .skills, .gallery, .teams, .contact, footer{
	font-family: 'Poppins', sans-serif;
}
.about .about-content,
/*.services .serv-content,*/
.skills .skills-content,
.contact .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
section .title, .title1{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}
section .titjour{
	position: relative;
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 20px;
	/* padding-bottom: 20px; */
	font-family: 'Ubuntu', sans-serif;
}
section .title::before, 
.title1::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 280px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}
section .title::after,
.title1::after{
	position: absolute;
	bottom: -12px;
	left: 50%;
	font-size: 20px;
	color: MediumSpringGreen;
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}
/*about section styling*/
.about .title::after
{
	content: "who i am";
}
.about .about-content .left{
	width: 45%;
}
.about .about-content .left img{
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 6px;
}
.about .about-content .right{
	width: 55%;
}
.about .about-content .right .text{
	font-size: 23px;
	font-weight: 400;
	margin-bottom: 10px;
}
.about .about-content .right .text span{
	color: MediumSpringGreen;
}
.about .about-content .right p{
	text-align: justify;
}
.about .about-content .right a{
	display: inline-block;
	background: MediumSpringGreen;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid MediumSpringGreen;
	transition: all 0.3s ease;
}
.about .about-content .right a:hover{
	color: MediumSpringGreen;
	background: none;
}

/*services section styling*/
.services, .gallery, .contact{
	color: #fff;
	background: #111;
}

.gallery .title::before{
	background: #fff;
}

.gallery .title::after{
	background: #111;
	/* content: "what i made"; */
}

/*gallery from team  section styling*/
.gallery .title::after{
	content: "what i made";
	width: 150px;
	
}
  /* Create two equal columns that floats next to each other */
  .column {
	float: left;
	width: 50%;
	padding: 10px;
  }
  .column img {
	margin-top: 12px;
  }
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  .textWithBlurredBg{
    /* width:600px; */
    height:auto;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
	
  }
  
  .textWithBlurredBg img{
    width: calc(33% - 20px);
    height:100%;
    transition:.3s;
    border-radius:4px;
  }
  
  .textWithBlurredBg:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px mediumspringgreen;
  }
   
  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
  }
  
  .textWithBlurredBg h3{
    top:50%
  }
  
  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }

  /* .gallery .contact-content .button{
	height: 47px;
	width: 170px;
	text-align: center;
  }
  .gallery .contact-content .button button{
	width: 100%;
	height: 100%;
	border: 2px solid MediumSpringGreen;
	background: MediumSpringGreen;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
	
  }
  .gallery .contact-content .button button:hover{
	color: MediumSpringGreen;
	background: none;
  } */
  .heading
{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;
}
.btn
{
	position: relative;
	background: mediumspringgreen;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 18px;
	text-transform: uppercase; 
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
	border: 2px solid mediumspringgreen;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.btn:hover{
	background: none;
	color: mediumspringgreen;
}

/*team section styling*/
.teams .title::after{
	content: "who with me";
}
.teams .carousel .card{
	height: 390px;
	background: rgb(0, 250, 154, 0.6);
	border: 5px solid mediumspringgreen;
	border-radius: 6px;
	padding: 25px 35px;
	text-align: center;
	transition: all 0.3s ease;
}
.teams .carousel .card:hover{
	background: MediumSpringGreen;
}
.teams .carousel .card .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
	transform: scale(1.05);
}
.teams .carousel .card .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}
.teams .carousel .card img{
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid MediumSpringGreen;
	transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
	border-color: #fff;
}
#spl{
	border: 5px solid #ffdf6c;
	background: rgb(255, 223, 108, 0.6);
}
#spl img{
	border: 5px solid #ffdf6c;
}
#spl:hover img{
	border: 5px solid white;
}
#spl:hover{
	background-color: #ffdf6c;
}

.owl-dots{
	text-align: center;
	margin-top: 20px;
}
.owl-dot{
	height: 13px;
	width: 13px;
	margin: 0 5px;
	outline: none!important;
	border-radius: 50%;
	border: 2px solid MediumSpringGreen!important;
	transition: all 0.3s ease;
}
.owl-dot.active{
	width: 35px;
	border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
	background: MediumSpringGreen;
}
.tooltip {
	position: relative;
	display: inline-block;
  }
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -30px;
	left: 110%;
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black  transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }







/*contact section styling*/
.contact .title::after{
	content: "get in touch";
}
.contact .contact-content .column{
	width: calc(50% - 30px);
}
.contact .contact-content .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.contact .contact-content .left p{
	text-align: justify;
}
.contact .contact-content .left .icons{
	margin: 10px 0;
}
.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}
.contact .contact-content .row .info{
	margin-left: 30px;
}
.contact .contact-content .row i{
	font-size: 25px;
	color: MediumSpringGreen;
}
.contact .contact-content .info .head{
	font-weight: 700;
}
.contact .contact-content .info .sub-title{
	color: #fff;
}
.contact .right{
	margin-top: -110px;
}
.contact .right form .fields{
	display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}
.contact .right form .textarea{
	height: 80px;
	/*width: 100%;*/
}
.contact .right form .name{
	margin-right: 10px;
}
.contact .right form .email{
	margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}
.contact .right form .button{
	height: 47px;
	width: 170px;
}
.contact .right form .button button{
	width: 100%;
	height: 100%;
	border: 2px solid MediumSpringGreen;
	background: MediumSpringGreen;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.contact .right form .button button:hover{
	color: MediumSpringGreen;
	background: none;
}

/*footer section styling*/
footer{
	background: #111;
	padding: 20px 23px;
	color: #fff;
	text-align: center;
}
footer span a{
	color: MediumSpringGreen;
}
footer span a:hover{
	text-decoration: underline;
}

@media (max-width: 650px){
	h2, h3{
	font-size: 14px;
}
@media (max-width: 600px){
	h2, h3{
	font-size: 12px;
}
@media (max-width: 500px){
	h2, h3{
	font-size: 10px;
}
@media (max-width: 427px){
	h2, h3{
	font-size: 8px;
}
